{% extends "layout.html" %}

{% block content %}

<div class="chart-header text-center">
    <h1>
      State: {{ session.get('current_state') }}
    </h1>
    <h2>
      County: {{ session.get('current_county') }}
    </h2>
  </div>

<div class="chart-container">

  <div class="charts text-center">
    <div class="row"><div id="map"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>

  <!-- County info section -->
  <div class="charts text-center">
    <div class="row"><div id="info">
      <h2>Demographics</h2>
      <div class="chart-description">
        <p>County population (2016): <strong> {{ total_population }}</strong></p>
        <p>State population (2016):  <strong> TKTK </strong>. </p>
      </div>
    </div></div>
  </div>

  <hr>

  <div class="text-center">
      <h2>Prisons vs Jails</h2>
  </div>
  <div class="text-center chart-description">
    <p>First we will provide some introductory information on the difference between
       prisons and jails, because it needs explanation.</p>
    <p>Across the U.S., there were <a href="https://www.vera.org/publications/people-in-prison-in-2018">450 people in prison for every 100,000 residents in 2018</a>. 
      This compares to [DATA] in China, and [DATA] in Sweden.</p>  
  </div>

  <hr>

  <div class="text-center">
      <h2>Incarceration statistics</h2>
  </div>

  <div id="bar-container">

    <div class="text-center chart-description">
        <p>The charts below shows the change in prison and jail population in <strong>{{ session.get('current_county') }}</strong> over time.</p>
        <p>The prison population in <strong>{{ session.get('current_county') }}</strong> reached its peak 
          in <strong>{{ max_prison_pop_year }}</strong> with <strong>{{ max_prison_pop }}</strong> inmates.</p>
        <p>The jail population reached its peak in <strong>{{ max_jail_pop_year }}</strong> with <strong>{{ max_jail_pop }}</strong> inmates.</p>  
    </div>

    <div class="charts text-center">
      <div class="row"><div id="bar_prison"></div></div>
      <div id="vis-tooltip" class="vg-tooltip"></div>
    </div>

    <div class="charts text-center">
      <div class="row"><div id="bar_jail"></div></div>
      <div id="vis-tooltip" class="vg-tooltip"></div>
    </div>  

    
  </div>

  <div class="charts text-center">
      <div class="row"><div id="scatter"></div></div>
      <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>
  <div class="text-center chart-description">
    <p>The chart above shows the prison population compared to total population
      for each county in <strong>{{ session.get('current_state') }}</strong> state. 
      Data for <strong>{{ session.get('current_county') }} </strong> is represented by a purple square.

    </p>
    <p>Hovering over a dot provides additional information. Use the mouse wheel to zoom in and out of the chart.</p>
    <p><em>(NB: A null value for total prison population on this chart indicates that the state
      declined to provide the requested information.)</em></p>
  </div>

  <hr>
  
  <div class="text-center">
      <h2>Demographics</h2>
  </div>
  <div class="charts text-center">
    <div class="row"><div id="multiline"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>
  <div class="text-center chart-description">
    <p>Across the U.S., black people are incarcerated at disproportionately high rates relative to the general population.</p> 
    <p>The first chart above shows the relative proportion of white to black residents in the population of <strong>{{ session.get('current_county') }} </strong>.
      The next two charts show the proportion of white to black inmates in the jail and prison population respectively, 
      starting with the earliest year for which data is reported.
    </p>
    <p>[More details to come - ref. bail bonds, poverty & jail].</p>
  </div>
  <div class="charts text-center">
      <div class="row"><div id="pretrial"></div></div>
      <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>

  <hr>

  <div class="charts text-center">
      <div class="row">
        <a href="/select" class="btn btn-secondary" id="view-another" role="button">View another county</a>
      </div>
  </div>


</div>

<!-- Render Charts -->
<script type="text/javascript">

  function parse(url, div) {
    var opt = {
      mode: "vega-lite",
      renderer: "svg",
      actions: {export: true, source: false, editor: false}
    };

    vegaEmbed("#"+div, url, opt, function(error, result) {
      // result.view is the Vega View, url is the original Vega-Lite specification
      vegaTooltip.vegaLite(result.view, url);
  
    });
  }
  
    //tells vega where to find the JSON for each chart type
    parse("/bar_prison", "bar_prison")
    parse("/bar_jail", "bar_jail")
    parse("/multiline", "multiline")
    parse("/pretrial", "pretrial")
    parse("/map", "map")
    parse("/scatter", "scatter")

</script>

{% endblock %}