{% extends "layout.html" %}

{% block content %}

<div class="chart-header text-center">
    <h1>
      State: {{ session.get('current_state') }}
    </h1>
    <h2>
      County: {{ session.get('current_county') }}
    </h2>
  </div>

<div class="chart-container">

  <div class="charts text-center">
    <div class="row"><div id="map"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>

  <!-- County info section -->
  <div class="charts text-center">
    <div class="row"><div id="info">
      <h2>Statistics</h2>
      <div class="chart-description">
        <p>State population (2016): <strong> {{ state_pop }} </strong></p>
        <p>County population (2016): <strong> {{ total_population }}</strong></p>        
        <p>Number of prison facilities disclosed (2016): <strong>{{ session.get('num_facilities') }}</strong></p>
        <p>Reported prison capacity (2016): <strong>{{ session.get('capacity') }}</strong></p>
    </div></div>
  </div>

  <hr>

  <div class="text-center">
      <h2>Prisons vs Jails</h2>
  </div>
  <div class="text-left chart-description">
    <p>The incarceration trends dataset provides information on both <strong>prisons</strong> and <strong>jails</strong>.</p>
    <p>In general, <strong>prisons</strong> are where people are detained after sentencing for more serious crimes, 
      and <strong>jails</strong> are where people are sent when first arrested, or to serve short sentences.</p>
    <p>  
       Some people in jail have been convicted of misdemeanor crimes, while others have been charged with a crime, 
        and remain there as their cases progress through the criminal justice system.
    </p>
    <p></p>
    <p>Overall, jails house around <strong>1/3</strong> of the country's incarcerated population on any given day.</p>
  </div>

  <hr>

  <div class="text-center">
      <h2>Incarceration data</h2>
  </div>

  <div id="bar-container">
    <div class="text-left chart-description">
        <p>The charts below shows the change in prison and jail population in <strong>{{ session.get('current_county') }}</strong> over time.</p>

        {% if session.get('prison_data_exists') %}
            <p>The prison population in <strong>{{ session.get('current_county') }}</strong> reached its peak 
            in <strong>{{ session.get('max_prison_pop_year') }}</strong> with <strong>{{ session.get('max_prison_pop') }}</strong> inmates.</p>
        {% else %}
            <p>Prison data is not available for {{ session.get('current_county') }}.</p>
        {% endif %}

        {% if session.get('jail_data_exists') %}
          <p>The jail population in <strong>{{ session.get('current_county') }}</strong> reached its peak in <strong>{{ session.get('max_jail_pop_year') }}</strong> with <strong>{{ session.get('max_jail_pop')}}</strong> inmates.</p>  
          <p>The <span class='orange'>orange</span> bars show the proportion of the jail population that is <span class='orange'>pre-trial</span>, i.e. 
          charged with a crime but awaiting a court date. (These are typically people who are 
          <a class='text-link' href='https://www.nytimes.com/2019/01/11/nyregion/how-does-bail-work-and-why-do-people-want-to-get-rid-of-it.html'>too poor to post bail</a>).</p>
        {% else %}
          <p>Jail data is not available for {{ session.get('current_county') }}.</p>
        {% endif %}
    </div>

    {% if session.get('prison_data_exists') %}
      <div class="charts text-center">
        <div class="row"><div id="bar_prison"></div></div>
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    {% endif %}


    {% if session.get('jail_data_exists') %}
      <div class="charts text-center">
        <div class="row"><div id="bar_jail"></div></div>
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div> 
    {% endif %}     
  </div>

  <hr>
  
  <div class="text-center">
      <h2>Demographics</h2>
  </div>
  <div class="text-left chart-description">
      <p>Across the U.S., black people are incarcerated at disproportionately high rates relative to the general population. 
     The first chart below shows the relative proportion of white to black residents in the population of <strong>{{ session.get('current_county') }} </strong>. 
      The next two charts show the proportion of white to black inmates in the jail and prison population respectively, starting with the earliest year for which data is reported.
      </p>
    </div>
  <div class="charts text-center">
    <div class="row"><div id="multiline"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>

  <hr>

<div class="text-center">
    <h2>Crime statistics</h2>
</div>  
<div class="text-left chart-description">
    <p>The chart below shows reported crime figures for <strong>{{session.get('current_county')}}</strong>.
    The larger the circle, the more crimes of this type were reported in a given year.
    </p>
    <p>Crime reports are provided by participating law enforcement agencies to the FBI. 
      In some counties, not all agencies participate in the reporting program.
    </p>
    <p>Gaps in the chart are years for which the county did not provide data.</p>
  </div>
<div class="charts text-center">
    <div class="row"><div id="crime"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>

<hr>

  <div class="text-center">
    <h2>State level comparison</h2>
</div>
<div class="text-left chart-description">
    <p>The chart below shows the prison population compared to total population
      for each county in <strong>{{ session.get('current_state') }}</strong> state. 
      Data for <strong>{{ session.get('current_county') }} </strong> is shown in a square box.
    </p>
    <p>
      Points that are higher on the y axis than the general trend show counties that imprison more people relative to 
      the general population.
    </p> 
    <p>Hovering over a dot provides additional information, mouse wheel zooms in and out of the chart.</p>
    <p><em>(NB: A null value for total prison population on this chart indicates that the state
      declined to provide the requested information.)</em></p>
  </div>
<div class="charts text-center">
    <div class="row"><div id="scatter"></div></div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>

<hr>

  <div class="charts text-center">
      <div class="row">
        <a href="/select" class="btn btn-secondary" id="view-another" role="button">View another county</a>
      </div>
  </div>
  
</div>

<!-- Render Charts -->
<script type="text/javascript">

  function parse(url, div) {
    var opt = {
      mode: "vega-lite",
      renderer: "svg",
      actions: {export: true, source: false, editor: false}
    };

    vegaEmbed("#"+div, url, opt, function(error, result) {
      // result.view is the Vega View, url is the original Vega-Lite specification
      vegaTooltip.vegaLite(result.view, url);
  
    });
  }
  
    //tells vega where to find the JSON for each chart type
    parse("/bar_prison", "bar_prison")
    parse("/bar_jail", "bar_jail")
    parse("/multiline", "multiline")
    parse("/crime", "crime")
    parse("/map", "map")
    parse("/scatter", "scatter")

</script>

{% endblock %}
