<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Incarceration data interactive</title>
    <meta charset="utf-8">


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>

    <!-- Import vega -->
     <script src="https://cdn.jsdelivr.net/npm/vega@5.3.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc15"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.30.0"></script>

    <script src="https://vega.github.io/datalib/datalib.min.js"></script>


    <style>hr, h3 {padding-bottom: 20px;} canvas {background-color: #fffff;}</style>
    
  </head>
  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active">
          <li><a href="https://altair-viz.github.io/index.html">Altair</a></li>
          <li><a href="https://vega.github.io/vega-lite/">Vega-Lite</a></li>
        </ul>
        <h3 class="text-muted">Prison population charts | Vega and Altair demo</h3>
      </div>

      <div class="charts text-center">
        <div class="row"><div id="bar"></div></div><hr>
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };
        vegaEmbed("#"+div, url, opt, function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        });
      }
      //tells vega where to find the JSON for each bar type
      parse("/bar", "bar")
    </script>

  </body>
</html>