{% extends "layout.html" %}

{% block content %}

<h1>Select State</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if state_name %}
            {{state_name}}
        {% else %}
            State
        {% endif %}
    </button>
    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
    {% for state_name in states %}
        <a class="dropdown-item" href="/select/{{state_name}}">{{state_name}}</a>
    {% endfor %}
    </div>
</div>

<h1>Select County</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if county_name %}
            {{county_name}}
        {% else %}
            County
        {% endif %}
    </button>
    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
    {% if counties %}
        {% for county in counties %}
            <a class="dropdown-item" href="/select/{{state_name}}/{{county}}">{{county}}</a>
        {% endfor %}
    {% else %}
        <a class="dropdown-item" href="">County</a>
    {% endif %}
    </div>

{% if state_name and county_name %}
<form action="/" method="POST">
    <input type="submit">
</form>
{% endif %}
</div>

{% endblock %}
