{% extends "layout.html" %}

{% block content %}

<div class="home-title text-center">
    <h1>Incarceration in </h1>
    <h1>America.</h1>
</div>

<div class="select-container">

    <div class="intro">
            
        <p>The Incarceration Trends Project aims to inform the public dialogue, advance research, 
            and help guide change by providing easily accessible information on jail and prison 
            populations in every U.S. county.
        </p>
        <p>         
            The centerpiece of the project is an interactive data tool,
            available at trends.vera.org, that can be used for reference and measurement by justice system 
            stakeholders and others looking to understand how their county uses jail and prison incarceration
            and how it compares to others over time. 
        </p>
    </div>

    <div class="select-form">

        <h1>Select State</h1>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if state_name %}
                    {{state_name}}
                {% else %}
                    State
                {% endif %}
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            {% for state_name in states %}
                <a class="dropdown-item" href="/select/{{state_name}}">{{state_name}}</a>
            {% endfor %}
            </div>
        </div>

        <h1>Select County</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if county_name %}
                    {{county_name}}
                {% else %}
                    County
                {% endif %}
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            {% if counties %}
                {% for county in counties %}
                    <a class="dropdown-item" href="/select/{{state_name}}/{{county}}">{{county}}</a>
                {% endfor %}
            {% else %}
                <a class="dropdown-item" href="">County</a>
            {% endif %}
            </div>

        {% if state_name and county_name %}
        <form action="/" method="POST">
            <input class="btn btn-primary" type="submit">
        </form>
        {% endif %}

    </div>

</div>

{% endblock %}
