{% extends "layout.html" %}

{% block content %}

<div class="home-title text-center">
    <h1>Incarceration in </h1>
    <h1>America.</h1>
</div>

<div class="select-container">

    <div class="intro">
        <p>From 2015-2018 the <a class='text-link' href="https://www.vera.org/">Vera Institute of Justice</a> 
            compiled data from the U.S. Department of Justice, supplemented with data from state departments of correction,
            to assemble the most comprehensive public dataset on incarceration in the U.S. at the county level.</p>
        <p><a class='text-link' href="http://www.incarceration.info/">Incarceration.info</a> is an independent website built to 
            explore and visualize the data made available by the Vera Institute.</p>
        <p>Use the dropdown menu below to select a state and county and see incarceration statistics displayed for your local area.</p>
    </div>

    <div class="select-form">

        <h1>Select State</h1>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if state_name %}
                    {{state_name}}
                {% else %}
                    State
                {% endif %}
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            {% for state_name in states %}
                <a class="dropdown-item" href="/select/{{state_name}}">{{state_name}}</a>
            {% endfor %}
            </div>
        </div>

        <h1>Select County</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if county_name %}
                    {{county_name}}
                {% else %}
                    County
                {% endif %}
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
            {% if counties %}
                {% for county in counties %}
                    <a class="dropdown-item" href="/select/{{state_name}}/{{county}}">{{county}}</a>
                {% endfor %}
            {% else %}
                <a class="dropdown-item" href="">County</a>
            {% endif %}
            </div>

        {% if state_name and county_name %}
        <form action="/" method="POST">
            <input class="btn btn-primary" type="submit" text='Submit'>
        </form>
        {% endif %}

    </div>
</div>

<!-- Resize buttons -->
<script type="text/javascript">
$( window ).resize(function() {
    if($(window).width() <=767) {
        $('.btn').addClass("btn-block");
        console.log("Block btn");
    }
    else { $('.btn').removeClass("btn-block"); }
});
</script> 

{% endblock %}
